<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/user.css}">
	</th:block>

	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main">
		<div class="header border-bottom">
			<h1 class="h2">[[${title}]]</h1>
		</div>
		<!--	一覧表示	-->
		<div>
			<div class="flex">
				<div class="user">
					部屋番号 [[${user.room}]] - [[${user.name}]] 様
				</div>
				<form id="plan" method="post" th:action="@{${req} + '/PlanInsert'}">
					<input type="hidden" name="user_id" th:value="${user_id}" />
					<input type="hidden" name="year_month" th:value="${year_month}" />
					<button form="plan" type="submit" class="btn btn-primary button-detail">
						新規プラン作成
					</button>
				</form>
			</div>
			<div class="flex margin_1em">
				<div class="date">
					[[${year_month}]]
				</div>
				<form id="year_month" method="post" th:action="@{${req} + '/Plan/YearMonth'}">
					<input type="hidden" name="user_id" th:value="${user_id}" />
					<input type="hidden" name="year_month" th:value="${year_month}" />
					<button form="year_month" type="submit" class="btn btn-primary button-date">
						日付変更
					</button>
				</form>
				<form id="output" method="post" th:action="@{${req} + '/Plan/Output/Excel'}">
					<input type="hidden" name="user_id" th:value="${user_id}" />
					<input type="hidden" name="year_month" th:value="${year_month}" />
					<button form="output" type="submit" class="btn btn-primary button-date">
						Excelに出力
					</button>
				</form>
				<form id="copy_LastMonth" method="post" th:action="@{${req} + '/Plan/Copy/LastMonth'}">
					<input type="hidden" name="user_id" th:value="${user_id}" />
					<input type="hidden" name="year_month" th:value="${year_month}" />
					<button form="copy_LastMonth" type="submit" class="btn btn-primary button-date">
						先月分を複製
					</button>
				</form>
			</div>
			<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th th:each="label_Set : ${label_Set_List}" class="th-width"
														th:width="${label_Set.value * 1.5} + '%'">
							[[${label_Set.name}]]
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="plan : ${plan_List}" th:object="${plan}">
						<td>
							[[*{subject}]]
						</td>
						<td>
							[[*{day_of_week}]]
						</td>
						<td>
							[[*{start_time}]] ～
						</td>
						<td>
							[[*{minutes}]]　分
						</td>
						<td>
							[[*{items}]]
						</td>
						<td>
							[[*{note}]]
						</td>
						<td class="flex">
							<form th:id="'update' + *{id}" method="post" th:action="@{${req} + '/PlanUpdate'}">
								<input type="hidden" name="id" th:value="*{id}" />
								<input type="hidden" name="user_id" th:value="${user_id}" />
								<input type="hidden" name="year_month" th:value="${year_month}" />
								<button th:form="'update' + *{id}" type="submit" class="btn btn-primary button-detail">
									編集
								</button>
							</form>
							<form th:id="'copy' + *{id}" method="post" th:action="@{${req} + '/Plan/Copy'}">
								<input type="hidden" name="id" th:value="*{id}" />
								<input type="hidden" name="user_id" th:value="${user_id}" />
								<input type="hidden" name="year_month" th:value="${year_month}" />
								<button th:form="'copy' + *{id}" type="submit" class="btn btn-primary button-detail">
									複製
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<a th:href="@{/main}">メインページへ</a>
		</div>
	</div>
</html>
